.auth {
    display: flex;
    height: 100vh;
    &__bg {
        background: url("@/static/Image.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50vw;
        height: 100vh;
    }
    &__page {
        max-width: 350px;
        width: 100%;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        .v-select .dropdown-toggle,
        .dropdown.v-select.vue-select1.default__select.single.searchable {
            width: 100%;
            margin-bottom: 20px;
        }
        &.regestration {
            .auth__links{
                justify-content: start;gap: 3px;
            }
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
    }
    &__title {
        margin-top: 42px;
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 20px;
        &-text {
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            color: #333333;
        }
    }
    &__form {
        .default__input {
            margin-bottom: 20px;
        }
        svg {
            cursor: pointer;
        }
        button {
            width: 100%;
            margin-bottom: 20px;
        }
        
    }

    &__links {
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e5e9;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #e62128;
        text-decoration: none;
        &:hover {
            color: #e62128;
        }
        &-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
        }
    }
    &__social {
        margin-top: 15px;
        &-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
            margin-bottom: 20px;
        }
        &-btns {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        &-btn {
            width: 80px;
            height: 50px;
            background: #f4f5f6;
            border-radius: 5px;
            border: none;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #868e96;
        text-align: center;
        margin-top: auto;
    }
}
