@media only screen and (max-width: 768px) {
    .header {
        &__wrapper {
            padding-right: 0;
            padding-top: 8px;
            padding-bottom: 6px;
            gap: 8px;
            justify-content: space-between;
            &-block {
                display: none;
            }
        }
  
        &__list {
            display: none;
        }
        &__button {
            &-burger {
                display: block;
            }
        }
        &__list {
            &_media {
            }
        }
        &__user {
            &-icon {
                width: 40px;
                height: 40px;
            }
        }
        &__icon {
            &-wrapper {
                &_media {
                    display: flex;
                    gap: 9px;
                    align-items: center;
                }
            }
        }
    }
}
